.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery > button {
  transition: all 250ms;
  border: none;
  background: none;
  display: block;
  margin: 10px 0;
}

.gallery > button:hover {
  transform: scale(1.05);
}

.gallery img {
  height: 300px;
  width: 400px;
}
