.lightbox {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-button {
  border: none;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.lightbox-button:disabled {
  opacity: 0.5;
}

.lightbox-button.previous,
.lightbox-button.next {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
}

.lightbox-button.previous {
  left: 20px;
}

.lightbox-button.next {
  right: 20px;
}

.lightbox-button.close {
  background: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.lightbox > .content {
  width: 50%;
}

.lightbox > .content > img {
  width: 100%;
  max-height: 80vh;
}
