*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 0 5rem;
}

.hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-button {
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 200ms ease-in-out;
}

.gallery-button:hover {
  transform: scale(1.05);
}

.gallery-button > img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.load-more {
  display: block;
  font-size: 20px;
  margin: 2rem auto;
  width: 10rem;
}

.load-more.hidden {
  display: none;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.lightbox:not(.hidden) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.lightbox-content {
  height: 100%;
  width: 100%;
}

.lightbox-current-image {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.lightbox-current-image > button {
  margin: 0 1rem;
}

.lightbox-current-image img {
  width: 60%;
}

.lightbox-previous,
.lightbox-next,
.lightbox-close {
  background: none;
  border: none;
  color: white;
  font-size: 32px;
}

.lightbox-previous,
.lightbox-next {
  position: absolute;
  top: 50%;
}

.lightbox-previous {
  left: 20px;
}

.lightbox-next {
  right: 20px;
}

.lightbox-previous:disabled,
.lightbox-next:disabled,
.lightbox-close:disabled {
  color: lightgrey;
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .lightbox-current-image {
    margin: 0.5rem auto;
  }

  .lightbox-current-image > button {
    margin: 0;
  }

  .lightbox-current-image > img {
    height: auto;
    width: 80%;
  }

  .lightbox-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .lightbox-previous,
  .lightbox-next,
  .lightbox-close {
    font-size: 24px;
  }

  .lightbox-previous {
    left: 5px;
  }

  .lightbox-next {
    right: 5px;
  }
}
